@use 'sass:color';

.audio-widget {
  @extend %opacity-transition;

  overflow: hidden;
  align-self: start;
  padding: 10px;
  background-image: linear-gradient(
    to bottom right,
    $gradient-bg-start,
    $gradient-bg-stop
  );
  border-radius: 5px;
  grid-area: audio;
  justify-self: center;
  opacity: 1;
}

.playlist {
  max-height: 150px;
  padding: 10px;
  padding-left: 5px;
  margin: 0;
  margin-bottom: 5px;
  list-style-type: none;
  overflow-y: auto;
  scroll-behavior: smooth;
  scrollbar-color: $deep-color $light-color;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: $light-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $deep-color;
    border-radius: 3px;
  }
}

.playlist__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  cursor: pointer;
  user-select: none;

  &:last-child {
    margin-bottom: 0;
  }

  &_active {
    color: $deep-color;
  }
}

.playlist__item_title {
  display: flex;
  align-items: center;
  pointer-events: none;
}

.playlist__item_button {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.playlist__item_duration {
  color: color.adjust($light-color, $lightness: -10%);
  pointer-events: none;
}

.player {
  padding: 2px 5px;
  border-radius: 0 0 5px 5px;
}

.seekbar {
  position: relative;
  width: 100%;
  height: 20px;
  margin-bottom: 10px;
  background-color: color.change($light-color, $alpha: 0.2);
  border-radius: 5px;
  cursor: pointer;
}

.seekbar__progress {
  width: 0;
  height: 100%;
  background-color: $gradient-bg-start;
  border-radius: 5px;
  transition: width 0.4s ease-in-out;
}

.seekbar__trackname {
  position: absolute;
  top: 50%;
  left: 50%;
  width: max-content;
  font-family: system-ui;
  font-size: 12px;
  pointer-events: none;
  transform: translate(-50%, -50%);
}

.player__ui {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
}

.player__time,
.player__time-separator,
.player__duration {
  color: $light-color;
}

.player__volume-bar {
  max-width: 80px;
  accent-color: $deep-color;
  cursor: pointer;
}
