.chevron {
  position: absolute;
  top: 50%;
  width: 48px;
  height: 48px;
  border: unset;
  cursor: pointer;
  transform: translateY(-50%);
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: translateY(-50%) scale(1.2);
  }
}

.chevron-left {
  left: 25px;
  background-color: transparent;
  background-image: url('../assets/chevron-left.svg');
  background-repeat: no-repeat;
}

.chevron-right {
  right: 25px;
  background-color: transparent;
  background-image: url('../assets/chevron-right.svg');
  background-repeat: no-repeat;
}

.settings-button {
  position: absolute;
  bottom: 15px;
  left: 10px;
  width: 32px;
  height: 32px;
  border: unset;
  background-color: transparent;
  background-image: url('../assets/gear.svg');
  background-repeat: no-repeat;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;

  &:hover {
    transform: rotate(30deg);
  }
}

.reload-button {
  @extend %icon-outline;

  width: 48px;
  height: 48px;
  border: unset;
  background-color: transparent;
  background-image: url('../assets/reload.svg');
  cursor: pointer;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.play-button {
  width: 24px;
  height: 24px;
  border: unset;
  background-color: transparent;
  background-image: url('../assets/play.svg');
  background-repeat: no-repeat;
  cursor: pointer;
}

.pause-button {
  width: 24px;
  height: 24px;
  border: unset;
  background-color: transparent;
  background-image: url('../assets/pause.svg');
  background-repeat: no-repeat;
  cursor: pointer;
}

.prev-button {
  width: 24px;
  height: 24px;
  border: unset;
  background-color: transparent;
  background-image: url('../assets/prev-track.svg');
  background-repeat: no-repeat;
  cursor: pointer;
}

.next-button {
  width: 24px;
  height: 24px;
  border: unset;
  background-color: transparent;
  background-image: url('../assets/next-track.svg');
  background-repeat: no-repeat;
  cursor: pointer;
}

.volume-high-button {
  width: 24px;
  height: 24px;
  border: unset;
  background-color: transparent;
  background-image: url('../assets/volume-high.svg');
  background-repeat: no-repeat;
  cursor: pointer;
}

.volume-low-button {
  width: 24px;
  height: 24px;
  border: unset;
  background-color: transparent;
  background-image: url('../assets/volume-low.svg');
  background-repeat: no-repeat;
  cursor: pointer;
}

.volume-mute-button {
  width: 24px;
  height: 24px;
  border: unset;
  background-color: transparent;
  background-image: url('../assets/volume-mute.svg');
  background-repeat: no-repeat;
  cursor: pointer;
}

.trash-button {
  width: 24px;
  height: 24px;
  border: unset;
  background-color: transparent;
  background-image: url('../assets/trashbin.svg');
  background-repeat: no-repeat;
  cursor: pointer;
}
