.chevron {
  position: absolute;
  top: 50%;
  width: 48px;
  height: 48px;
  border: unset;
  cursor: pointer;
  transform: translateY(-50%);
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: translateY(-50%) scale(1.2);
  }
}

.chevron-left {
  left: 25px;
  background-color: transparent;
  background-image: url('../assets/chevron-left.svg');
}

.chevron-right {
  right: 25px;
  background-color: transparent;
  background-image: url('../assets/chevron-right.svg');
}
