.clock-widget {
  @extend %text-outline;
  @extend %opacity-transition;

  overflow: hidden;
  margin: 0 auto;
  color: $light-color;
  font-family: $clock-font;
  font-size: 100px;
  grid-area: clock;
  opacity: 0;
  user-select: none;
}
