@use 'sass:color';

.clock-widget {
  @extend %opacity-transition;

  overflow: hidden;
  margin: 0 auto;
  color: $light-color;
  font-family: $clock-font;
  font-size: 100px;
  grid-area: clock;
  text-shadow: 2px 2px 0 color.mix($light-color, $deep-color, 40%);
  transition: opacity 0.5s ease-in-out;
  user-select: none;
}
