@use 'sass:color';

.date-widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: start;
  justify-content: center;
  grid-area: date;
}

.date-widget__clock {
  margin-bottom: 10px;
  color: $light-color;
  font-family: $clock-font;
  font-size: 100px;
  text-shadow: 2px 2px 0 color.mix($light-color, #000, 40%);
  user-select: none;
}

.date-widget__calendar {
  @extend %text-outline;

  margin: 0 auto 10px;
  color: $light-color;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 48px;
}
