@use 'sass:color';

.greeting-widget {
  @extend %opacity-transition;

  display: flex;
  overflow: hidden;
  align-items: center;
  align-self: start;
  grid-area: greeting;
  justify-self: center;
  opacity: 1;
}

.greeting-widget__text {
  @extend %text-outline;

  margin-right: 10px;
  color: $light-color;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 56px;
}

.greeting-widget__name {
  @extend %text-outline;

  padding-left: 5px;
  border: 1px solid transparent;
  background-color: transparent;
  border-radius: 10px;
  color: $light-color;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 56px;

  &:focus {
    border: 1px dashed color.change($light-color, $alpha: 0.5);
    outline: unset;
  }
}
