@use 'sass:color';

.quote-widget {
  display: flex;
  max-width: 800px;
  flex-direction: column;
  align-items: center;
  align-self: end;
  justify-content: center;
  padding-bottom: 5px;
  margin: 0 auto;
  grid-area: quote;
}

.quote-widget__text {
  @extend %text-outline;

  margin: 0 auto 10px;
  color: $light-color;
  font-family: $quote-font;
  font-size: 1.5em;
  text-align: center;
}

.quote-widget__author {
  @extend %text-outline;

  margin: 0 auto 10px;
  color: color.mix(#000, $light-color, 10%);
  text-align: center;
}

.quote-widget__reload {
  width: 48px;
  height: 48px;
  border: unset;
  background-color: transparent;
  background-image: url('../assets/reload.svg');
  cursor: pointer;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}
