@use 'sass:color';

.quote-widget {
  @extend %opacity-transition;

  display: flex;
  overflow: hidden;
  max-width: 800px;
  flex-direction: column;
  align-items: center;
  align-self: end;
  justify-content: center;
  padding: 0 10px;
  margin: 0 auto;
  grid-area: quote;
  justify-self: center;
  opacity: 0;
}

.quote-widget__text {
  @extend %text-outline;

  margin: 0 auto 10px;
  color: $light-color;
  font-family: $quote-font;
  font-size: 1.5em;
  text-align: center;
}

.quote-widget__author {
  @extend %text-outline;

  margin: 0 auto 10px;
  color: color.mix($deep-color, $light-color, 20%);
  text-align: center;
}

.quote-widget__reload {
  @extend %icon-outline;

  // width: 48px;
  // height: 48px;
  padding: 0;
  border: unset;
  background-color: transparent;
  cursor: pointer;
  font-size: 0;
  transition: transform 0.5s ease-in-out;

  &:hover {
    transform: rotate(180deg);
  }
}
