.weather-widget {
  @extend %opacity-transition;

  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  align-self: start;
  justify-content: flex-start;
  padding: 10px;
  background-image: linear-gradient(
    to bottom right,
    $gradient-bg-start,
    $gradient-bg-stop
  );
  border-radius: 5px;
  grid-area: weather;
  justify-self: end;
  opacity: 0;
}

.weather-widget__input {
  border: unset;
  border-bottom: 1px solid $light-color;
  background-color: transparent;
  color: $light-color;
  font-size: 24px;

  &:focus {
    outline: unset;
  }
}

.weather-widget__error {
  margin: 0;
  background-color: $error-color;

  &:not(:empty) {
    padding: 5px;
    margin: 10px 0 0;
    border-radius: 3px;
  }

  &:not(:empty) ~ p {
    display: none;
  }
}

.weather-widget__icon-temp {
  display: flex;
  align-items: center;
  padding-left: 10px;
  margin: 10px 0;
}

.weather-widget__icon {
  padding-right: 5px;
  font-size: 48px;
}

.weather-widget__temp {
  font-size: 32px;
}

.weather-widget__desc {
  padding-left: 10px;
  margin: 0 0 5px;
}

.weather-widget__wind {
  padding-left: 10px;
  margin: 0 0 5px;
}

.weather-widget__humidity {
  padding-left: 10px;
  margin: 0;
}
