<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="./favicon.ico" sizes="any" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="<%= require('./assets/icon.svg') %>"
    />
    <link
      rel="apple-touch-icon"
      href="<%= require('./assets/apple-touch-icon.png') %>"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat&family=PT+Sans+Narrow:wght@400;700&family=Share+Tech+Mono&display=swap"
      rel="stylesheet"
    />
    <title>Momentum by Sergey Koksharov</title>
  </head>
  <body style="visibility: hidden">
    <main class="main grid-container">
      <div class="chevron-icons">
        <button
          class="chevron chevron-left"
          type="button"
          aria-label="previous background image"
        >
          <img
            src="<%= require('./assets/chevron-left.svg') %>"
            alt=""
            width="48"
            height="48"
          />
        </button>
        <button
          class="chevron chevron-right"
          type="button"
          aria-label="next background image"
        >
          <img
            src="<%= require('./assets/chevron-right.svg') %>"
            alt=""
            width="48"
            height="48"
          />
        </button>
      </div>
      <article class="audio-widget dimensionless">
        <ul class="audio-widget__playlist playlist"></ul>
        <div class="audio-widget__player player">
          <div class="player__seekbar seekbar">
            <div class="seekbar__progress"></div>
            <span class="seekbar__trackname"></span>
          </div>
          <div class="player__ui">
            <button
              class="player__prev prev-button"
              type="button"
              aria-label="previous track"
            ></button>
            <button
              class="player__play-pause play-button"
              type="button"
              aria-label="play/pause"
            ></button>
            <button
              class="player__next next-button"
              type="button"
              aria-label="next track"
            ></button>
            <span class="player__time"></span>
            <span class="player__time-separator">/</span>
            <span class="player__duration"></span>
            <button
              class="player__volume-button volume-high-button"
              type="button"
              aria-label="mute/unmute"
            ></button>
            <input
              class="player__volume-bar"
              type="range"
              step="0.05"
              max="1.0"
            />
          </div>
        </div>
      </article>
      <article class="weather-widget dimensionless" id="weather">
        <input class="weather-widget__input" type="text" size="12" />
        <p class="weather-widget__error"></p>
        <p class="weather-widget__icon-temp">
          <i class="weather-widget__icon"></i
          ><span class="weather-widget__temp"></span>
        </p>
        <p class="weather-widget__desc"></p>
        <p class="weather-widget__wind"></p>
        <p class="weather-widget__humidity"></p>
      </article>
      <article class="clock-widget dimensionless">
        <span class="clock-widget__clock"></span>
      </article>
      <article class="calendar-widget dimensionless">
        <p class="calendar-widget__calendar"></p>
      </article>
      <article class="greeting-widget dimensionless">
        <span class="greeting-widget__text"></span
        ><input class="greeting-widget__name" type="text" size="10" />
      </article>
      <article class="credits">
        <button
          class="credits__settings-button settings-button"
          type="button"
          aria-label="settings menu"
        >
          <img
            src="<%= require('./assets/gear.svg') %>"
            alt=""
            width="32"
            height="32"
          />
        </button>
        <a href="https://rs.school/js-stage0/">
          <img
            class="credits__logo"
            src="<%= require('./assets/rsschool-logo.svg') %>"
            alt="RS School logo"
            width="553"
            height="206"
          />
        </a>
      </article>
      <article class="quote-widget dimensionless">
        <p class="quote-widget__text"></p>
        <p class="quote-widget__author"></p>
        <button
          class="quote-widget__reload reload-button"
          type="button"
          aria-label="next quote"
        >
          <img
            src="<%= require('./assets/reload.svg') %>"
            alt=""
            width="48"
            height="48"
          />
        </button>
      </article>
      <article class="tasklist-widget dimensionless">
        <ul class="tasklist-widget__tasks"></ul>
        <div class="tasklist-widget__input-button">
          <input type="text" class="taskslist-widget__input" />
          <button
            class="tasklist-widget__clear trash-button"
            type="button"
            aria-label="clear completed tasks"
          ></button>
        </div>
      </article>
    </main>
    <div class="settings">
      <button class="settings__close" type="button" aria-label="close settings">
        &times;
      </button>
      <div class="settings__section settings__section_locale">
        <p
          class="settings__heading settings__heading_locale"
          data-i18n="localeLabel"
        ></p>
        <fieldset class="settings__fieldset settings__fieldset_locale">
          <input
            type="radio"
            data-id="locale"
            id="settings__locale_en-US"
            class="settings__radio"
            name="settings__locale"
            value="en-US"
          />
          <label class="settings__radio_label" for="settings__locale_en-US"
            >English</label
          >
          <input
            type="radio"
            data-id="locale"
            id="settings__locale_ru-RU"
            class="settings__radio"
            name="settings__locale"
            value="ru-RU"
          />
          <label class="settings__radio_label" for="settings__locale_ru-RU"
            >Русский</label
          >
        </fieldset>
      </div>
      <div class="settings__section settings__section_image-provider">
        <p
          class="settings__heading settings__heading_image-provider"
          data-i18n="imageProviderLabel"
        ></p>
        <fieldset class="settings__fieldset settings__fieldset_image-provider">
          <input
            type="radio"
            data-id="imageProvider"
            id="settings__image-provider_github"
            class="settings__radio"
            name="settings__image-provider"
            value="github"
          />
          <label
            class="settings__radio_label"
            for="settings__image-provider_github"
            >GitHub</label
          >
          <input
            type="radio"
            data-id="imageProvider"
            id="settings__image-provider_unsplash"
            class="settings__radio"
            name="settings__image-provider"
            value="unsplash"
          />
          <label
            class="settings__radio_label"
            for="settings__image-provider_unsplash"
            >Unsplash</label
          >
          <input
            type="radio"
            data-id="imageProvider"
            id="settings__image-provider_flickr"
            class="settings__radio"
            name="settings__image-provider"
            value="flickr"
          />
          <label
            class="settings__radio_label"
            for="settings__image-provider_flickr"
            >Flickr</label
          >
        </fieldset>
        <input
          type="text"
          name="image-tags"
          class="settings__image-tags"
          data-i18n="imageTagsPlaceholder"
        />
      </div>
      <div class="settings__section settings__section_widgets">
        <p
          class="settings__heading settings__heading_widgets"
          data-i18n="widgetsLabel"
        ></p>
        <fieldset class="settings__fieldset settings__fieldset_widgets">
          <input
            type="checkbox"
            data-widget="clock"
            class="settings__widget-checkbox settings__widget-checkbox_clock"
            id="settings__widget_clock"
          />
          <label
            class="settings__widget-label settings__widget-label_clock"
            for="settings__widget_clock"
            data-i18n="clockLabel"
          ></label>
          <input
            type="checkbox"
            data-widget="calendar"
            class="settings__widget-checkbox settings__widget-checkbox_calendar"
            id="settings__widget_calendar"
          />
          <label
            class="settings__widget-label settings__widget-label_calendar"
            for="settings__widget_calendar"
            data-i18n="calendarLabel"
          ></label>
          <input
            type="checkbox"
            data-widget="greeting"
            class="settings__widget-checkbox settings__widget-checkbox_greeting"
            id="settings__widget_greeting"
          />
          <label
            class="settings__widget-label settings__widget-label_greeting"
            for="settings__widget_greeting"
            data-i18n="greetingLabel"
          ></label>
          <input
            type="checkbox"
            data-widget="quote"
            class="settings__widget-checkbox settings__widget-checkbox_quote"
            id="settings__widget_quote"
          />
          <label
            class="settings__widget-label settings__widget-label_quote"
            for="settings__widget_quote"
            data-i18n="qotdLabel"
          ></label>
          <input
            type="checkbox"
            data-widget="weather"
            class="settings__widget-checkbox settings__widget-checkbox_weather"
            id="settings__widget_weather"
          />
          <label
            class="settings__widget-label settings__widget-label_weather"
            for="settings__widget_weather"
            data-i18n="weatherLabel"
          ></label>
          <input
            type="checkbox"
            data-widget="audio"
            class="settings__widget-checkbox settings__widget-checkbox_audio"
            id="settings__widget_audio"
          />
          <label
            class="settings__widget-label settings__widget-label_audio"
            for="settings__widget_audio"
            data-i18n="audioLabel"
          ></label>
          <input
            type="checkbox"
            data-widget="tasklist"
            class="settings__widget-checkbox setting__widget-checkbox_tasklist"
            id="settings__widget_tasklist"
          />
          <label
            class="settings__widget-label settings__widget-label_tasklist"
            for="settings__widget_tasklist"
            data-i18n="tasklistLabel"
          ></label>
        </fieldset>
      </div>
      <div class="settings__section settings__section_copyright">
        <a href="https://github.com/gentoosiast/">
          <p class="settings__copyright copyright">
            <img
              class="copyright__icon"
              src="<%= require('./assets/github.svg') %>"
              alt="GitHub icon"
              width="41"
              height="40"
            />
            <small data-i18n="copyrightLabel"></small>
          </p>
        </a>
      </div>
    </div>
  </body>
</html>
