<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="./favicon.ico" sizes="any" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="<%= require('./assets/icon.svg') %>"
    />
    <link
      rel="apple-touch-icon"
      href="<%= require('./assets/apple-touch-icon.png') %>"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat&family=PT+Sans+Narrow:wght@400;700&family=Share+Tech+Mono&display=swap"
      rel="stylesheet"
    />
    <title>Momentum by Sergey Koksharov</title>
  </head>
  <body>
    <main class="main grid-container">
      <button class="settings-button"></button>
      <div class="chevron-icons">
        <button class="chevron chevron-left"></button>
        <button class="chevron chevron-right"></button>
      </div>
      <div class="weather-widget">
        <input class="weather-widget__input" type="text" size="12" />
        <p class="weather-widget__icon-temp">
          <i class="weather-widget__icon"></i
          ><span class="weather-widget__temp"></span>
        </p>
        <p class="weather-widget__desc"></p>
        <p class="weather-widget__wind"></p>
        <p class="weather-widget__humidity"></p>
      </div>
      <div class="date-widget">
        <time class="date-widget__clock"></time>
        <p class="date-widget__calendar"></p>
      </div>
      <div class="greeting-widget">
        <span class="greeting-widget__text"></span
        ><input class="greeting-widget__name" type="text" size="10" />
      </div>
      <div class="quote-widget">
        <p class="quote-widget__text"></p>
        <p class="quote-widget__author"></p>
        <button class="quote-widget__reload"></button>
      </div>
    </main>
  </body>
</html>
