@use 'sass:color';

%text-outline {
  text-shadow: 2px 2px 0 color.mix($light-color, $deep-color, 40%);
}

%icon-outline {
  filter: drop-shadow(0 0 3px #680bbe);
}

%opacity-transition {
  transition: opacity 0.5s ease-in-out;
}
