$light-color: #eee;
$deep-color: #680bbe;
$gradient-bg-start: #d523f0;
$gradient-bg-stop: #87ceeb;
$error-color: #da1f64;

$main-font: 'PT Sans Narrow', sans-serif;
$clock-font: 'Share Tech Mono', monospace;
$quote-font: 'Caveat', cursive;
